//----------------------------------------
// Block - Side by Side
//----------------------------------------

.demchco-block-side-by-side {
	width: 100%;

	.demchco-grid {
		grid-template-columns: 1fr 1fr;
		column-gap: 2em;
		row-gap: 1em;
		display: grid;

		> * {

		}

		.card-first {
			order: -1;
		}
	}
}
