//----------------------------------------
// Block - Tabs Styles, FRONTEND
//----------------------------------------
.demchco-block-tabs {
	width: 100%;

	.demchco-module-tabs {
		margin-top: 8rem; /* 128px */
		margin-bottom: 8rem; /* 128px */

		nav {
			display: flex;

			.tab-title {
				display: flex;
				background-color: rgb( 209 213 219 );
				border: none;
				justify-content: center;
				position: relative;
				padding: 1rem 2rem;
				z-index: 10;

				&[aria-selected='true'] {
					background: white;
					border-bottom: 1px solid white;
				}
			}
		}

		.tabs-content {
			border-top: 1px solid rgb( 209 213 219 );
			background: white;
			padding: 2rem;
		}
	}
}
