//----------------------------------------
// Block - Card Repeater, FRONTEND
//----------------------------------------

.demchco-block-cards-repeater {
	width: 100%;

	.card-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2em;
		row-gap: 1em;

		.demchco-module-card {
			width: 100%;
		}
	}
}
