//----------------------------------------
// Block - Logo Grid, FRONTEND
//----------------------------------------

.demchco-block-logo-grid {
	width: 100%;

	.acf-innerblocks-container {
		grid-column: 1 / -1;
	}

	.demchco-grid {
		display: grid;
		gap: 8rem; /* 128px */
		grid-template-columns: repeat(2, minmax(0, 1fr));

		@screen tablet-portrait {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}

		@screen tablet-landscape {
			grid-template-columns: repeat(6, minmax(0, 1fr));
		}
	}

	.demchco-module-figure {
		grid-column: span 1 / span 1;
	}
}
